@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap");
:root{
    --blue: #79A9F5;
    --indigo: #C45F90;
    --purple: #A16AE8;
    --pink: #FC8BC0;
    --red: #F85C70;
    --orange: #FF8882;
    --yellow: #FAD02C;
    --green: #A3C14A;
    --teal: #20c997;
    --cyan: #47D8E0;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #F85C70;
    --secondary: #6c757d;
    --success: #A3C14A;
    --info: #47D8E0;
    --warning: #FF8882;
    --danger: #F85C70;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Source Sans Pro", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*{
    top:0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -o-text-size-adjust:100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
}

aside, footer, header, nav, section{
    display: block;
}

body{
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    outline: auto;
    border: 1px solid;
}

hr{
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  -moz-text-decoration: underline dotted;
  -o-text-decoration: underline dotted;
  -ms-text-decoration: underline dotted;
   text-decoration: underline dotted;
   cursor: help;
   border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  -moz-text-decoration-skip-ink: none;
  -ms-text-decoration-skip-ink: none;
  -o-text-decoration-skip-ink: none;
   text-decoration-skip-ink: none;
}

ol, ul{
    margin-top: 0;
    margin-bottom: 1rem;
}

.header{
    height: 90vh;
    width:100vw;
    padding: 10px;
    opacity: 0.8;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter:blur(10px);
    -o-backdrop-filter:blur(10px);
}

.header .header-content{
    margin-top: 85px;
    margin-left: 85px;
    padding: 20px;
    position: absolute;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter:blur(10px);
    -o-backdrop-filter:blur(10px);
}

.header .header-content *{
   font-weight: bolder;
   color: #ffffff;
}

.navbar{
    position: absolute;
    padding: 20px;
    height: 5vh;
    background-color: #f8f9fa;
    display: block;
}

.navbar .navMenu{
    margin-left: 305px;
    display: block;
    margin-top: 50px;
}

.navbar .navMenu ul{
    font-weight: 100;
    font-family: "Source Sans Pro", sans-serif;
    text-decoration: none;
    list-style: none;
    display: inline-flex;
 }

 .navbar .navMenu .nav-item{
    font-size: 1em;
    color: #212529;
}

.navbar .navMenu .nav-item a:hover{
    font-size: 1em;
    color: #212529;
    cursor: pointer;
}

.navbar .navMenu .avatar{
    height: 50%;
    width: 90%;
    margin-top: 100px;
    border-radius: 75px;
}

.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container-fluid .about-card{
    border: 1px;
    padding: auto;
}

.container-fluid a{
    text-decoration: none;
    color: #212529;
}

 @media (min-width: 576px) {
    .container-fluid {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container-fluid {
      max-width: 720px;
    }
}
  
@media (min-width: 992px) {
    .container-fluid {
      max-width: 960px;
    }
}
  
  @media (min-width: 1200px) {
    .container-fluid {
      max-width: 1140px;
    }
}

.slideshow {
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.slideshow img {
    width: 100%;
    height: auto;
    display: none;
}

.footer{
    background-color: #212529;
    text-align: center;
    margin-top: 7.5px;
}